@model IEnumerable<LoggerViewModel>
@{
    ViewBag.Title = "Index";
}

<h2>Логгер</h2>
<hr />
<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            <div class="panel-heading row">
                <div class="col-md-9">

                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            @item.ExceptionType
                        </a>
                    </h4>
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-xs pull-right">Кнопочка</button>
                </div>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in">
                <div class="row" style="padding:15px 15px 15px 15px;">
                    <div class="col-md-6">
                        @Html.DisplayFor(i => item.ExceptionMessage);
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            @Html.DisplayFor(i=>item.DateTimeOfCreate)
                        </div>
                    </div>
                </div>
                
                <div class="panel-body">
                    @Html.DisplayFor(i => item.ExceptionStackTrace);
                </div>
            </div>
        </div>
    }
</div>