@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{



    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-outline blue pull-right">
            <span class="glyphicon glyphicon-log-out"></span>
            Выйти
        </a>
   

    }
}
else
{
    <a href="~/Account/Login" id = "loginLink" class="btn btn-outline blue pull-right">
        <span class="glyphicon glyphicon-log-in"></span>
        Войти
    </a>
}
