@model IndexList
@{
    ViewBag.Title = "Home Page";
}
@if (Model.Error != null)
{
 @Html.Partial("_ErrorMessagePartial", Model.Error)
}

<!--Slider Area-->
<section class="row main-slider-area">
    <div id="slider2" class="rev_slider" data-version="5.0">
        <ul>
            <li data-transition="scaledownfromleft" data-title="Slide 1">
                <img src="~/upload/app/slide3.png"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg" data-no-retina>

                <div class="tp-caption welcome-Title welcome-Title2 color-fff tp-resizeme"
                     data-x="['left','left','center']"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="['-50','-50','-50','-50,'-50','-50']"
                     data-fontsize="['36','36','32','30','30','24']"
                     data-lineheight="['45','45','38','36','36','30']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Наше приложение <br /> поможет Вам построить <br />упешный бизнес
                </div>

                <a href="~/Account/Register" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
                   data-x="['left','left','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="center"
                   data-voffset="['80','80','80','80','80','50']"
                   data-fontsize="16"
                   data-lineheight="48"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                    Регистрация
                </a>

            </li>



            <li data-transition="scaledownfromleft" data-title="Slide 2">
                <img src="~/upload/app/slide2.png"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg" data-no-retina>

                <div class="tp-caption welcome-Title welcome-Title2 color-fff tp-resizeme"
                     data-x="['left','left','center']"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="['-50','-50','-50','-50,'-50','-50']"
                     data-fontsize="['36','36','32','30','30','24']"
                     data-lineheight="['45','45','38','36','36','30']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Наше приложение <br /> поможет Вам подобрать <br />квалифицированный рабочий персонал
                </div>

                <a href="~/Account/Register" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
                   data-x="['left','left','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="center"
                   data-voffset="['80','80','80','80','80','50']"
                   data-fontsize="16"
                   data-lineheight="48"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                    Регистрация
                </a>

            </li>

            <li data-transition="scaledownfromleft" data-title="Slide 3">
                <img src="~/upload/app/slide3.png"
                     alt=""
                     data-bgposition="center center"
                     data-bgfit="cover"
                     data-bgrepeat="no-repeat"
                     class="rev-slidebg" data-no-retina>

                <div class="tp-caption welcome-Title welcome-Title2 color-fff tp-resizeme"
                     data-x="['left','left','center']"
                     data-hoffset="0"
                     data-y="center"
                     data-voffset="['-50','-50','-50','-50,'-50','-50']"
                     data-fontsize="['36','36','32','30','30','24']"
                     data-lineheight="['45','45','38','36','36','30']"
                     data-width="none"
                     data-height="none"
                     data-whitespace="nowrap"
                     data-transform_idle="o:1;"
                     data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                     data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                     data-start="1000"
                     data-splitin="none"
                     data-splitout="none"
                     data-responsive_offset="on">
                    Наше приложение <br /> поможет Вам построить <br />упешный бизнес
                </div>

                <a href="~/Account/Register" class="tp-caption welcome-Link btn btn-primary tp-resizeme"
                   data-x="['left','left','center']"
                   data-hoffset="['0','0','0','0']"
                   data-y="center"
                   data-voffset="['80','80','80','80','80','50']"
                   data-fontsize="16"
                   data-lineheight="48"
                   data-width="none"
                   data-height="none"
                   data-whitespace="nowrap"
                   data-transform_idle="o:1;"
                   data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeOut;"
                   data-transform_out="opacity:0;s:1500;e:Power4.easeIn;"
                   data-start="1500"
                   data-splitin="none"
                   data-splitout="none"
                   data-responsive_offset="on">
                    Регистрация
                </a>

            </li>
        </ul>
    </div>
</section>


@{
    var i = 0;
    var count = Model.List.Count();
}


<div class="container" style="margin-top:40px;">
    <div class="row sectionTitle">
        <h2 class="this-title">Наши категории</h2>
        <p>Коллекция наших категорий</p>
    </div>
    @while (i < count)
    {
        <section class="row featured-service-blocks style2">
            <div class="container">
                @for (var j = 0; j < 3; j++, i++)
                {
                    if (i == count)
                    {
                        break;
                    }
                    <div class="col-sm-4 featured-service-block style3">
                        <div class="icon-holder">
                            @Html.Image(Model.List[i].ImageName, "upload/app", HelperImageExtension.Holder(28, 28), new { data_element_role = "imageContainer", width="28px",height="28px" })
                        </div>
                        <h3 class="this-title">
                            <a href="#">
                                @Html.DisplayFor(item=>Model.List[i].NameCategory)
                            </a>
                        </h3>
                    <p class="this-summary">
                        @Html.DisplayFor(item=> Model.List[i].DescriptionCategory)
                    </p>
                </div>

                }

            </div>
        </section>
    }

    </div>


          

